<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>Matrixolver</title>
{% load staticfiles %}

<link rel='stylesheet' type='text/css' href='{% static "matrixolver/style.css" %}'>
<script type='text/javascript' src='{% static "matrixolver/script.js" %}'></script>
<script type='text/javascript' src='{% static "matrixolver/modernizr.custom.37954.js" %}'></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Google analytics script-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66476808-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
<style>
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'matrixolver:index' %}">MATRIXOLVER</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id='rank'><a href="{% url 'matrixolver:rank' %}">Hodnost matice</a></li>
        <li id='inv'><a href="{% url 'matrixolver:inv_index' %}">Inverzní matice</a></li>
        <li id='sys'><a href="{% url 'matrixolver:system' %}">Řešení soustav</a></li>
        <li id='eig'><a href="{% url 'matrixolver:eigen' %}">Vlastní čísla (alpha verze)</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section>
{% block content %}
{% endblock %}
</section>

<footer>

</footer>
</div>
<body>

</html>
