	{% extends 'matrixolver/base.html' %}

{% block content %}

<script type='text/javascript'>
	lis = $('ul.nav').find('li');
	lis.removeClass('active');
	$('#eig').addClass('active');
	var row_num = {{ A.row_num }};
	var col_num = {{ A.col_num }};
</script>

<style>
	.affix{ top: 20px; }
</style>

<div class='container-fluid'>
	<div class='row' id='solution_row'>
			<div class='col-md-2 col-sm-3 well sidebar-nav-fixed' style='padding: 19px 0 !important;'>
			<div class='span1'> <!--potreba prijit na to, proc se meni sirka a vyresit overlap pri mensim rozliseni--!>
			<div class='row'>
			<div class='col'>
			<!--	<div class='cSize'>
				<form action='{}' method='POST'>{% csrf_token %}
					<label for='rows'>Rows</label>
					<input type='number' id='rows' name='row_num' autocomplete='off' min='1' />
					<label for='cols'>Columns</label>
					<input type='number' id='cols' name='col_num' autocomplete='off' min='1' />
					<input type='submit' value='set size' class='cSubmit' />
				</form>
				</div> --!>
			<div class='cSize'>
			<table>
			<tr>
				<td style='white-space: nowrap'>Velikost matice: <span id='PrintSize'>{{ A.row_num }}</span>&nbsp&nbsp</td>
				<td>
					<span class="btn-group-xs btn-group-vertical" role="group" aria-label="Velikost matice">
						<button type="button" class="btn btn-primary" id='sizePlus'>+</button>
						<button type="button" class="btn btn-primary" id='sizeMinus'>-</button>
					</span>
				</td>
			</tr>
			</table>
			</div>

			</div>
			</div>

			<div class='row'>
			<div class='col'>
				<div class='input-group cInput' id='sidebar'>
				<form action="{% url 'matrixolver:eigen_solution' %}" method='POST' name='matrix'>{% csrf_token %}
				<!--form validation--!>
					<table class='table table-bordered table-condensed' id='InputTable'>
					{% for row in A.rows %}
						<tr>{% for element in row %}<td>
				<input class='form-control cInput' type='text' name='a{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}' onclick='select()' step='any' value='{{ element }}' autocomplete='off' pattern='[-+]?[0-9]*\.?[0-9]*' /></td>{% endfor %}</tr>
					{% endfor %}
					</table>
					<input type='hidden'  id='hidden_rows' name='hidden_rows' value='{{ A.row_num }}' />
					<input type='hidden' id='hidden_cols' name='hidden_cols' value='{{ A.col_num }}' />
					<button type="submit" class='btn btn-primary'>Spočítat vlastní čísla</button>
				</form>
				</div>
			</div>
			</div>
			</div>
		</div>

<script>
	$( '#sizeMinus' ).click(function(){
															row_num -= 1;
															col_num -= 1;
															createInputTable(row_num, col_num);
															$( '#PrintSize' ).html(row_num);
															$( '#hidden_rows' ).val(row_num);
															$( '#hidden_cols' ).val(col_num);})

	$( '#sizePlus' ).click(function(){
															row_num += 1;
															col_num += 1;
															createInputTable(row_num, col_num);
															$( '#PrintSize' ).html(row_num);
															$( '#hidden_rows' ).val(row_num);
															$( '#hidden_cols' ).val(col_num);})
</script>
<!-- reseni bude v include --!>
<div class='col-md-10 col-sm-9' style='padding-right: 0 !important;'>
{% include 'matrixolver/eigen_solution.html' %}
</div>
	</div>
</div>
{% endblock content %}
