{% extends 'matrixolver/base.html' %}

{% block content %}
<script type='text/javascript'>

	lis = $('ul.nav').find('li');
	lis.removeClass('active');
</script>

<h1>Vítej na MATRIXOLVERu</h1>

Budu postupně rozšiřovat jeho funkce. V tuto chvíli jsou v provozu následující funkce:
<ul>
	<li>výpočet hodnosti matice</li>
	<li>výpočet inverzní matice</li>
	<li>řešení soustav lineárních algebraických rovnic (včetně prostoru řešení)</li>
</ul>
Můj TODO list co dělat dál je následující
<ul>
	<li>umožnit zadávání zlomků</li>
	<li>násobení matic</li>
	<li>výpočet vlastních čísel a vektorů, diagonalizace matice, Jordanův tvar</li>
	<li>určit hodnost nebo počet řešení soustavy v závislosti na parametru</li>
	<li>transoformace bází</li>
</ul>

Pokud něco nefunguje, jak má, nebo chcete podpořit vývoj stránek, či máte jakoukoliv jinou připomínku, napište mi na <b>matrixolver(zavináč)gmail.com</b>

{% endblock content %}
