{% extends 'matrixolver/base.html' %}

{% block content %}

<script type='text/javascript'>
	lis = $('ul.nav').find('li');
	lis.removeClass('active');
	$('#inv').addClass('active');
	var row_num = {{ A.row_num }};
	var col_num = {{ A.col_num }};
</script>

<style>
	.affix{ top: 20px; }
</style>

<div class='container-fluid'>
	<div class='row' id='solution_row'>
			<div class='col-md-2 col-sm-3 well sidebar-nav-fixed' style='padding: 19px 0 !important;'>
			<div class='span1'> <!--potreba prijit na to, proc se meni sirka a vyresit overlap pri mensim rozliseni--!>
			<div class='row'>
			<div class='col'>
			<!--	<div class='cSize'>
				<form action='{}' method='POST'>{% csrf_token %}
					<label for='rows'>Rows</label>
					<input type='number' id='rows' name='row_num' autocomplete='off' min='1' />
					<label for='cols'>Columns</label>
					<input type='number' id='cols' name='col_num' autocomplete='off' min='1' />
					<input type='submit' value='set size' class='cSubmit' />
				</form>
				</div> --!>
			<div class='cSize'>
			<table>
			<tr>
				<td style='white-space: nowrap'>Velikost matice: <span id='PrintSize'>{{ A.row_num }}</span>&nbsp&nbsp</td>
				<td>
					<span class="btn-group-xs btn-group-vertical" role="group" aria-label="Velikost matice">
						<button type="button" class="btn btn-primary" id='sizePlus'>+</button>
						<button type="button" class="btn btn-primary" id='sizeMinus'>-</button>
					</span>
				</td>
			</tr>
			</table>
			</div>

			</div>
			</div>

			<div class='row'>
			<div class='col'>
				<div class='input-group cInput' id='sidebar'>
				<form action="{% url 'matrixolver:inv_solution' %}" method='POST' name='matrix'>{% csrf_token %}
				<!--form validation--!>
					<table class='table table-bordered table-condensed' id='InputTable'>
					{% for row in A.rows %}
						<tr>{% for element in row %}<td>
				<input class='form-control cInput' type='text' name='a{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}' onclick='select()' step='any' value='{{ element }}' autocomplete='off' pattern='[-+]?[0-9]*\.?[0-9]*' /></td>{% endfor %}</tr>
					{% endfor %}
					</table>
					<input type='hidden'  id='hidden_rows' name='hidden_rows' value='{{ A.row_num }}' />
					<input type='hidden' id='hidden_cols' name='hidden_cols' value='{{ A.col_num }}' />
					<button type="submit" class='btn btn-primary'>Spočítat inverzi</button>
				</form>
				</div>
			</div>
			</div>
			</div>
		</div>

<script>
	$( '#sizeMinus' ).click(function(){
															row_num -= 1;
															col_num -= 1;
															createInputTable(row_num, col_num);
															$( '#PrintSize' ).html(row_num);
															$( '#hidden_rows' ).val(row_num);
															$( '#hidden_cols' ).val(col_num);})

	$( '#sizePlus' ).click(function(){
															row_num += 1;
															col_num += 1;
															createInputTable(row_num, col_num);
															$( '#PrintSize' ).html(row_num);
															$( '#hidden_rows' ).val(row_num);
															$( '#hidden_cols' ).val(col_num);})
</script>
<!-- reseni bude v include --!>
<div class='col-md-10 col-sm-9' style='padding-right: 0 !important;'>
{% include 'matrixolver/solution.html' %}
<p>Inverzní matice k matici <math display='inline'><mi>A</mi></math> je taková, která násobením vytvoří z <math display='inline'><mi>A</mi></math> jednotkovou matici. Značíme ji
<math display="inline"><msup><mi>A</mi><mn>-1</mn></msup></math> a platí</p>
<math display="block">
<msup><mi>A</mi><mn>-1</mn></msup><mi>A</mi><mo>=</mo><mi>E</mi>
</math>
<p>kde <math display='inline'><mi>E</mi></math> je jednotková matice.</p>
<p>Výpočet inverzní matice se prování tak, že matici <math display='inline'><mi>A</mi></math> rozšíříme jednotkovou maticí a provádíme ekvivalentní úpravy obou matic tak, abychom z matice <math display='inline'><mi>A</mi></math> dostali matici jednotkovou. Aby bylo možno najít inverzní matici, musí být regulární. Tedy čtvercová a její hodnost musí být stejná, jako počet jejích řádků.</p>
</div>
	</div>
</div>
{% endblock content %}
