{% extends 'matrixolver/base.html' %}

{% block content %}

<script type='text/javascript'>
	lis = $('ul.nav').find('li');
	lis.removeClass('active');
	$('#rank').addClass('active');
	var row_num = {{ A.row_num }};
	var col_num = {{ A.col_num }};
</script>

<style>
	.affix{ top: 20px; }
</style>
<div class='container-fluid'>
	<div class='row' id='solution_row'>
			<div class='col-md-2 col-sm-3 well sidebar-nav-fixed' style='padding: 19px 0 !important;'>
			<div class='span1'> <!--potreba prijit na to, proc se meni sirka a vyresit overlap pri mensim rozliseni--!>
			<div class='row'>
			<div class='col'>
			<div class='cSize'>
			<table>
			<tr>
				<td style='white-space: nowrap'>Řady: <span id='PrintSizeRows'>{{ A.row_num }}</span>&nbsp&nbsp</td>
				<td>
					<span class="btn-group-xs btn-group-vertical" role="group" aria-label="Velikost matice">
						<button type="button" class="btn btn-primary" id='rowPlus'>+</button>
						<button type="button" class="btn btn-primary" id='rowMinus'>-</button>
					</span>
				</td>
				<td style='white-space: nowrap'>&nbsp Sloupce: <span id='PrintSizeCols'>{{ A.col_num }}</span>&nbsp&nbsp</td>
				<td>
					<span class="btn-group-xs btn-group-vertical" role="group" aria-label="Velikost matice">
						<button type="button" class="btn btn-primary" id='colPlus'>+</button>
						<button type="button" class="btn btn-primary" id='colMinus'>-</button>
					</span>
				</td>
			</tr>
			</table>
			</div>

			</div>
			</div>

			<div class='row'>
			<div class='col'>
				<div class='input-group cInput' id='sidebar'>
				<form action="{% url 'matrixolver:rank_solution' %}" method='POST' name='matrix'>{% csrf_token %}
				<!--form validation--!>
					<table class='table table-bordered table-condensed' id='InputTable'>
					{% for row in A.rows %}
						<tr>{% for element in row %}<td>
				<input class='form-control cInput' type='text' name='a{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}' onclick='select()' step='any' value='{{ element }}' autocomplete='off' pattern='[-+]?[0-9]*\.?[0-9]*' /></td>{% endfor %}</tr>
					{% endfor %}
					</table>
					<input type='hidden'  id='hidden_rows' name='hidden_rows' value='{{ A.row_num }}' />
					<input type='hidden' id='hidden_cols' name='hidden_cols' value='{{ A.col_num }}' />
					<button type="submit" class='btn btn-primary'>Spočítat hodnost</button>
				</form>
				</div>
			</div>
			</div>
			</div>
		</div>

<script>
	$( '#rowMinus' ).click(function(){
															row_num -= 1;
															createInputTable(row_num, col_num);
															$( '#PrintSizeRows' ).html(row_num);
															$( '#hidden_rows' ).val(row_num);}),

	$( '#rowPlus' ).click(function(){
															row_num += 1;
															createInputTable(row_num, col_num);
															$( '#PrintSizeRows' ).html(row_num);
															$( '#hidden_rows' ).val(row_num);}),

	$( '#colMinus' ).click(function(){
															col_num -= 1;
															createInputTable(row_num, col_num);
															$( '#PrintSizeCols' ).html(col_num);
															$( '#hidden_cols' ).val(col_num);}),

	$( '#colPlus' ).click(function(){
															col_num += 1;
															createInputTable(row_num, col_num);
															$( '#PrintSizeCols' ).html(col_num);
															$( '#hidden_cols' ).val(col_num);})
</script>

<!-- reseni bude v include --!>
<div class='col-md-10 col-sm-9' style='padding-right: 0 !important;'>
{% include 'matrixolver/solution_no_extend.html' %}
<p>Hodnost matice znamená počet jejích lieáně nezávislých řádků. To znamená počet řádků, které nedokážeme vyjádřit jako součet různě vynásobených ostatních řádků. Například matice</p>
<math display='block'>
<mfenced open='[' close=']' separators=''>
    <mtable>
      <mtr>
        <mtd><mn>1</mn></mtd>
        <mtd><mn>2</mn></mtd>
        <mtd><mn>3</mn></mtd>
      </mtr>
      <mtr>
        <mtd><mn>1</mn></mtd>
        <mtd><mn>1</mn></mtd>
        <mtd><mn>2</mn></mtd>
      </mtr>
      <mtr>
        <mtd><mn>3</mn></mtd>
        <mtd><mn>4</mn></mtd>
        <mtd><mn>7</mn></mtd>
      </mtr>
    </mtable>
</mfenced>
</math>
<p>má hodnost pouze 2, protože třetí řádek lze vyjádřit jako součet prvního řádku s dvakrát vynásobeným 2. řádkem.</p>
<p>Hodnost matice zjistíme tak, že dostaneme matici do schodovitého tvaru a spočítáme řádky, které nejsou nulové. Úloha může být někdy zadána tak, že místo některého z čísel je v matici uveden parametr. Hodnost matice poté může záviset na hodnotě tohoto parametru.</p>
</div>
	</div>
</div>
{% endblock content %}
