html {
}

#wrapper {
	background-color: rgb(240,240,240);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 0px;
	overflow: hidden;
}

#topDiv {
	background-color: rgb(210,210,210);
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

header {
	background-color: black;
	color: white;
	text-align: left;
	padding: 5px 15px;
}

header h1 {
	font-family: 'Courier New';
}


body#inv a#invnav,
body#baz a#baznav,
body#eig a#eignav,
body#pis a#pisnav,
body#stu a#stunav,
body#rls a#rlsnav,
body#hod a#hodnav {
	background: rgb(240,240,240)
}

section {
	height: auto;
	float: top;
	padding: 15px;
	overflow: hidden;
}


/*class cSize*/
div.cSize {
	padding: 20px;
	padding-top: 0px;
	width: 100%;
}

/*class cInput*/
div.cInput {
	width: 100%;
	padding: 20px;
	padding-top: 10px;
	float: left;
}

div.cInput input[type='text'] {
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border-radius: 0 !important;
	line-height: 1 !important;
	text-align: center;
	font-size: 20px;
}
div.cInput td {
	width: 40px;
	height: 30px;
	margin: 0 !important;
	padding: 0 !important;
}

#InputTable { width: 100%; }

input.cInput {
	border: 0 !important;
}

input.cVecInput {
	border: 0 !important;
	border-left: 1px solid black !important;
}

/*
#InputTable {display: block !important; padding: 0 !important; margin: 0 !important; border: 0 !important; width: 100% !important; border-radius: 0 !important; line-height: 1 !important;}
#InputTable td {margin: 0 !important; padding: 0 !important;}
#InputTable{
	position: relative;
	margin-bottom: 10px;
}

#InputTable:before, #InputTable:after {
	content: '';
	position: absolute;
	top: 0;
	border: 1px solid #000;
	width: 6px;
	height: 100%;
}
#InputTable:before { border-right: none; left: -0px; }
#InputTable:after { border-left: none; right: -0px; }
*/

/*class cSubmit*/
input.cSubmit {
	width: auto;
}



/*class cLeftMatrix*/
table.cLeftMatrix {
	float:left;
	border-right: 1px solid black;
}

table.cLeftMatrix:before {
	content: "";
	position: absolute;
	top: -5%;
	border: 1px solid #000;
	width: 6px;
	height: 110%;
	left: -2px;
	border-right: 0;
}

/*class cRightMatrix*/
table.cRightMatrix {
	float: left;
}

table.cRightMatrix:after {
	content: "";
	position: absolute;
	top: -5%;
	border: 1px solid #000;
	width: 6px;
	height: 110%;
	right: -2px;
	border-left: 0;
}

/* class cSingleMatrix */
table.cSingleMatrix {
	float: left
}

table.cSingleMatrix:before {
	content: "";
	position: absolute;
	top: -5%;
	border: 1px solid #000;
	width: 6px;
	height: 110%;
	left: -2px;
	border-right: 0;
}

table.cSingleMatrix:after {
	content: "";
	position: absolute;
	top: -5%;
	border: 1px solid #000;
	width: 6px;
	height: 110%;
	right: -2px;
	border-left: 0;
}

/*set tilde*/
table.cTilde {
	float: right;
	padding: 20px 0 0 0;
	border-spacing: 0;
}
td.cTilde {
	padding: 0px;
	vertical-align: middle;
	height: 50px;
}

/*class cSolution*/
div.cSolution {
	overflow: hidden;
}

div.cSolution table {
	table-layout: fixed;
	position: relative;
	display: inline-block;
}

div.cSolution td {
	text-align: center;
	padding: 0px;
	width: 40px;
	height: 30px;
	font-size: 20px;
	text-align: center;
}

.cSwap.active {background: #CCFFFF;}
.cSubsSubstrahend.active {background: #CCFFCC;}
.cSubsMinuend.active {background: #FFCCCC;}
/*.cMult.active {background: #E6E6E6;}*/

.cSwap.selected {background: #CCFFFF;}
.cSubsSubstrahend.selected {background: #CCFFCC;}
.cSubsMinuend.selected {background: #FFCCCC;}
/*.cMult.selected {background: #E6E6E6;}*/

.row #solution_row { margin-right: -30px !important;} /* aby se lepe vesly matice */

/*class cExtendedMatrix*/
div.cExtendedMatrix {
	white-space: nowrap;
	float: left;
	margin-bottom: 15px;
	padding: 0px;
}

div.cExtendedMatrix table {
	margin: 0px;
}

div.cParams table {
	float: left;
}

div.cParams td {
	text-align: right;
	font-size: 20px;
}

div.cShrink {
	display: inline-block;
}

div.cText {
	padding: 20px;
}
